:root {
    --dark: #292C35;
    --light: #F1F1F1;
    --label: #111;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.8s;
    background-color: #f39c12;
}

.container {
    margin-top: 270px;
    text-align: center;
    line-height: 0px;
}

/*---------------titles------------*/
.dark {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-weight: 700;
    font-size: 40px;
    margin-left: -100px;


    opacity: 0;
    visibility: hidden; 

    text-shadow: 4px 2px 2px black;
    color: rgb(129, 34, 129);

    transition: .2s ease-in-out;
}

.white {
    position: relative;
    top: -23px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-weight: 700;
    font-size: 40px;
    margin-left: -100px;


    text-shadow: 3.5px 2px 2px black;
    color: whitesmoke;


    transition: .2s ease-in-out;

    /*invisible items*/
}

.switcher {         /*----button-switch-----*/
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 235.38px;
    gap: 2.8rem;
    height: 102px;
    left: 602px;
    top: 339px;

    background: #000000;
    border-radius: 59px;

}

.moon {
    position: absolute;
    width: 94.15px;
    height: 94.15px;
    left: 0px;
    top: 5px;
    z-index: 0;

}

.sun {
    position: absolute;
    width: 94.15px;
    height: 94.15px;
    left: 136px;
    top: 5px;
    z-index: 0;
}

.ball {
    width: 86.31px;
    height: 86.31px;
    background: #F1F1F1;
    border-radius: 50%;
    z-index: 99;
    margin-left: 40px;
    cursor: pointer;
    transition: 0.5s;
}

/*-------------event-switch------------*/

.light .ball {

    margin-left: -222px;
}

.light .white{

    opacity: 0;
    visibility: hidden;

    transition: .2s ease-in-out;
}
.light .dark{
    opacity: inherit;
    visibility: visible;

    transition: .2s ease-in-out;
   
    
}